<div>
    <github_corner :github_url='github' />
    <apptitle :title='app_title' :subtitle='app_subtitle'></apptitle>
    <div class="container" id="app">
        <div class="form-group">
            <howtouse demo="https://raw.githubusercontent.com/cavo789/base64_image/master/images/demo.gif">
                <p>Simply paste the code "base64" from the image below. The program will then immediately display the
                    image.
                </p>
            </howtouse>
            <base64_decode></base64_decode>
        </div>
    </div>
</div>
